<!-- templates/devices.html -->

{% extends "base.html" %}

{% block content %}
    <h2><i class="fas fa-plug fa-sm fa-fw"></i>  My Devices
    <a class="btn btn-outline-info btn-sm" href="{{ url_for('new_device') }}" role="button">Add New</a>
    </h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nickname</th>
          <th scope="col">Serial No.</th>
          <th scope="col">Registered On</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
        <tr>
          <td>{{ device.nickname }}</td>
          <td>{{ device.serial_no }}</td>
          <td>{{ device.registered_on.strftime('%Y-%m-%d') }}</td>
          <td><a class="btn btn-outline-info btn-sm" href="{{ url_for('device_config', device_id=device.id) }}" role="button">View / Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}